# Lambda

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('Result.xlsx',index_col = 'Roll')

In [5]:
df

          Name  Python  Pandas  Numpy  Stats  Flask  ML
Roll
1         Rauf      78      78     98     67     76  99
2       Rashid      89      67     78     87     78  98
3         Riaz      90      76     67     89     97  97
4        Sadiq      98      78     78     90     78  78
5        Tariq      78      97     89     90     67  90
6        Yasin      67      78     90     99     87  67
7        Zahid      78      67     99     98     46  87
8         Zain      45      87     67     97     98  89
9        Zaman      90      89     87     78     78  90
10         Zia      99      67     46     67     67  90
11    Zulfiqar      98      87     90     87     78  99
12      Waseem      97      89     90     43     89  98
13      Shahid      78      90     48     43     90  97
14       Sajid      67      90     98     76     99  78
15       Javed      87      99     43     78     78  67
16       Zafar      89      98     78     45     67  87
17       Aamir      90      97     67     78     87  89
18        Amir      76      78     87     67     89  90
19       Hafsa      78      67     89     87     90  76
20       Kanza      56      87     90     89     76  78
21       Mehak      89      89     76     90     78  98
22        Neha      56      90     78     76     67  78
23       Nimra      78      76     67     78     78  67
24       Sahar      90      78     68     56     90  78
25       Samar      98      56     89     89     98  89
26       Sonia      98      89     65     90     93  90
27      Sumbul      90      90     67     98     87  99
28        Ejaz      89      98     89     87     87  78
29       Saeed      90      93     56     89     86  67
30       Ahmad      98      87     78     90     83  87
31      Imtiaz      93      87     90     90     67  89
32      Majeed      87      86     65     99     89  90
33       Zahid      87      83     67     98     90  76
34       Noman      86      56     87     97     90  78
35      Tayyab      83      78     89     78     99  97
36       Wajid      56      90     90     67     98  78
37       Nasir      78      56     90     87     97  67
38      Akhtar      90      90     99     89     89  87
39     Sumaira      56      56     98     90     90  89
40      Tasnim      90      90     97     76     90  90

In [8]:
df.columns

Index(['Name', 'Python', 'Pandas', 'Numpy', 'Stats', 'Flask', 'ML'], dtype='object')

In [10]:
df['Total']=df.Python + df.Pandas +df.Numpy + df.Stats + df.Flask + df.ML

In [11]:
df

          Name  Python  Pandas  Numpy  Stats  Flask  ML  Total
Roll
1         Rauf      78      78     98     67     76  99    496
2       Rashid      89      67     78     87     78  98    497
3         Riaz      90      76     67     89     97  97    516
4        Sadiq      98      78     78     90     78  78    500
5        Tariq      78      97     89     90     67  90    511
6        Yasin      67      78     90     99     87  67    488
7        Zahid      78      67     99     98     46  87    475
8         Zain      45      87     67     97     98  89    483
9        Zaman      90      89     87     78     78  90    512
10         Zia      99      67     46     67     67  90    436
11    Zulfiqar      98      87     90     87     78  99    539
12      Waseem      97      89     90     43     89  98    506
13      Shahid      78      90     48     43     90  97    446
14       Sajid      67      90     98     76     99  78    508
15       Javed      87      99     43     78     78  67    452
16       Zafar      89      98     78     45     67  87    464
17       Aamir      90      97     67     78     87  89    508
18        Amir      76      78     87     67     89  90    487
19       Hafsa      78      67     89     87     90  76    487
20       Kanza      56      87     90     89     76  78    476
21       Mehak      89      89     76     90     78  98    520
22        Neha      56      90     78     76     67  78    445
23       Nimra      78      76     67     78     78  67    444
24       Sahar      90      78     68     56     90  78    460
25       Samar      98      56     89     89     98  89    519
26       Sonia      98      89     65     90     93  90    525
27      Sumbul      90      90     67     98     87  99    531
28        Ejaz      89      98     89     87     87  78    528
29       Saeed      90      93     56     89     86  67    481
30       Ahmad      98      87     78     90     83  87    523
31      Imtiaz      93      87     90     90     67  89    516
32      Majeed      87      86     65     99     89  90    516
33       Zahid      87      83     67     98     90  76    501
34       Noman      86      56     87     97     90  78    494
35      Tayyab      83      78     89     78     99  97    524
36       Wajid      56      90     90     67     98  78    479
37       Nasir      78      56     90     87     97  67    475
38      Akhtar      90      90     99     89     89  87    544
39     Sumaira      56      56     98     90     90  89    479
40      Tasnim      90      90     97     76     90  90    533

In [16]:
df['Percentage'] = round((df.Total/600)*100,2)

In [17]:
df

,Name,Python,Pandas,Numpy,Stats,Flask,ML,Total,Precentage,Percentage
Roll,,,,,,,,,,
1,Rauf,78,78,98,67,76,99,496,82.666667,82.67
2,Rashid,89,67,78,87,78,98,497,82.833333,82.83
3,Riaz,90,76,67,89,97,97,516,86.000000,86.00
4,Sadiq,98,78,78,90,78,78,500,83.333333,83.33
5,Tariq,78,97,89,90,67,90,511,85.166667,85.17
6,Yasin,67,78,90,99,87,67,488,81.333333,81.33
7,Zahid,78,67,99,98,46,87,475,79.166667,79.17
8,Zain,45,87,67,97,98,89,483,80.500000,80.50
9,Zaman,90,89,87,78,78,90,512,85.333333,85.33
10,Zia,99,67,46,67,67,90,436,72.666667,72.67
11,Zulfiqar,98,87,90,87,78,99,539,89.833333,89.83
12,Waseem,97,89,90,43,89,98,506,84.333333,84.33
13,Shahid,78,90,48,43,90,97,446,74.333333,74.33
14,Sajid,67,90,98,76,99,78,508,84.666667,84.67
15,Javed,87,99,43,78,78,67,452,75.333333,75.33
16,Zafar,89,98,78,45,67,87,464,77.333333,77.33
17,Aamir,90,97,67,78,87,89,508,84.666667,84.67
18,Amir,76,78,87,67,89,90,487,81.166667,81.17
19,Hafsa,78,67,89,87,90,76,487,81.166667,81.17
20,Kanza,56,87,90,89,76,78,476,79.333333,79.33
21,Mehak,89,89,76,90,78,98,520,86.666667,86.67
22,Neha,56,90,78,76,67,78,445,74.166667,74.17
23,Nimra,78,76,67,78,78,67,444,74.000000,74.00
24,Sahar,90,78,68,56,90,78,460,76.666667,76.67
25,Samar,98,56,89,89,98,89,519,86.500000,86.50
26,Sonia,98,89,65,90,93,90,525,87.500000,87.50
27,Sumbul,90,90,67,98,87,99,531,88.500000,88.50
28,Ejaz,89,98,89,87,87,78,528,88.000000,88.00
29,Saeed,90,93,56,89,86,67,481,80.166667,80.17
30,Ahmad,98,87,78,90,83,87,523,87.166667,87.17
31,Imtiaz,93,87,90,90,67,89,516,86.000000,86.00
32,Majeed,87,86,65,99,89,90,516,86.000000,86.00
33,Zahid,87,83,67,98,90,76,501,83.500000,83.50
34,Noman,86,56,87,97,90,78,494,82.333333,82.33
35,Tayyab,83,78,89,78,99,97,524,87.333333,87.33
36,Wajid,56,90,90,67,98,78,479,79.833333,79.83
37,Nasir,78,56,90,87,97,67,475,79.166667,79.17
38,Akhtar,90,90,99,89,89,87,544,90.666667,90.67
39,Sumaira,56,56,98,90,90,89,479,79.833333,79.83
40,Tasnim,90,90,97,76,90,90,533,88.833333,88.83

In [25]:
def grades(percentage):
    if percentage >=90:
        return 'A+'
    elif percentage >=80:
        return 'A'
    elif percentage >=70:
        return 'B'
    elif percentage >=60:
        return 'C'
    elif percentage>=50:
        return 'D'
    else:
        return 'F'

In [26]:
df['Grade'] = df.Percentage.apply(grades)

In [27]:
df

,Name,Python,Pandas,Numpy,Stats,Flask,ML,Total,Precentage,Percentage,Grade
Roll,,,,,,,,,,,
1,Rauf,78,78,98,67,76,99,496,82.666667,82.67,A
2,Rashid,89,67,78,87,78,98,497,82.833333,82.83,A
3,Riaz,90,76,67,89,97,97,516,86.000000,86.00,A
4,Sadiq,98,78,78,90,78,78,500,83.333333,83.33,A
5,Tariq,78,97,89,90,67,90,511,85.166667,85.17,A
6,Yasin,67,78,90,99,87,67,488,81.333333,81.33,A
7,Zahid,78,67,99,98,46,87,475,79.166667,79.17,B
8,Zain,45,87,67,97,98,89,483,80.500000,80.50,A
9,Zaman,90,89,87,78,78,90,512,85.333333,85.33,A
10,Zia,99,67,46,67,67,90,436,72.666667,72.67,B
11,Zulfiqar,98,87,90,87,78,99,539,89.833333,89.83,A
12,Waseem,97,89,90,43,89,98,506,84.333333,84.33,A
13,Shahid,78,90,48,43,90,97,446,74.333333,74.33,B
14,Sajid,67,90,98,76,99,78,508,84.666667,84.67,A
15,Javed,87,99,43,78,78,67,452,75.333333,75.33,B
16,Zafar,89,98,78,45,67,87,464,77.333333,77.33,B
17,Aamir,90,97,67,78,87,89,508,84.666667,84.67,A
18,Amir,76,78,87,67,89,90,487,81.166667,81.17,A
19,Hafsa,78,67,89,87,90,76,487,81.166667,81.17,A
20,Kanza,56,87,90,89,76,78,476,79.333333,79.33,B
21,Mehak,89,89,76,90,78,98,520,86.666667,86.67,A
22,Neha,56,90,78,76,67,78,445,74.166667,74.17,B
23,Nimra,78,76,67,78,78,67,444,74.000000,74.00,B
24,Sahar,90,78,68,56,90,78,460,76.666667,76.67,B
25,Samar,98,56,89,89,98,89,519,86.500000,86.50,A
26,Sonia,98,89,65,90,93,90,525,87.500000,87.50,A
27,Sumbul,90,90,67,98,87,99,531,88.500000,88.50,A
28,Ejaz,89,98,89,87,87,78,528,88.000000,88.00,A
29,Saeed,90,93,56,89,86,67,481,80.166667,80.17,A
30,Ahmad,98,87,78,90,83,87,523,87.166667,87.17,A
31,Imtiaz,93,87,90,90,67,89,516,86.000000,86.00,A
32,Majeed,87,86,65,99,89,90,516,86.000000,86.00,A
33,Zahid,87,83,67,98,90,76,501,83.500000,83.50,A
34,Noman,86,56,87,97,90,78,494,82.333333,82.33,A
35,Tayyab,83,78,89,78,99,97,524,87.333333,87.33,A
36,Wajid,56,90,90,67,98,78,479,79.833333,79.83,B
37,Nasir,78,56,90,87,97,67,475,79.166667,79.17,B
38,Akhtar,90,90,99,89,89,87,544,90.666667,90.67,A+
39,Sumaira,56,56,98,90,90,89,479,79.833333,79.83,B
40,Tasnim,90,90,97,76,90,90,533,88.833333,88.83,A

In [28]:
df['Grade1'] = df.Percentage.apply(lambda x: "A+" if x>=90 else "A" if x>80 else "B" if x>=70 else "C" if x>=60 else "D" if x>=50 else "Fail")

In [29]:
df

,Name,Python,Pandas,Numpy,Stats,Flask,ML,Total,Precentage,Percentage,Grade,Grade1
Roll,,,,,,,,,,,,
1,Rauf,78,78,98,67,76,99,496,82.666667,82.67,A,A
2,Rashid,89,67,78,87,78,98,497,82.833333,82.83,A,A
3,Riaz,90,76,67,89,97,97,516,86.000000,86.00,A,A
4,Sadiq,98,78,78,90,78,78,500,83.333333,83.33,A,A
5,Tariq,78,97,89,90,67,90,511,85.166667,85.17,A,A
6,Yasin,67,78,90,99,87,67,488,81.333333,81.33,A,A
7,Zahid,78,67,99,98,46,87,475,79.166667,79.17,B,B
8,Zain,45,87,67,97,98,89,483,80.500000,80.50,A,A
9,Zaman,90,89,87,78,78,90,512,85.333333,85.33,A,A
10,Zia,99,67,46,67,67,90,436,72.666667,72.67,B,B
11,Zulfiqar,98,87,90,87,78,99,539,89.833333,89.83,A,A
12,Waseem,97,89,90,43,89,98,506,84.333333,84.33,A,A
13,Shahid,78,90,48,43,90,97,446,74.333333,74.33,B,B
14,Sajid,67,90,98,76,99,78,508,84.666667,84.67,A,A
15,Javed,87,99,43,78,78,67,452,75.333333,75.33,B,B
16,Zafar,89,98,78,45,67,87,464,77.333333,77.33,B,B
17,Aamir,90,97,67,78,87,89,508,84.666667,84.67,A,A
18,Amir,76,78,87,67,89,90,487,81.166667,81.17,A,A
19,Hafsa,78,67,89,87,90,76,487,81.166667,81.17,A,A
20,Kanza,56,87,90,89,76,78,476,79.333333,79.33,B,B
21,Mehak,89,89,76,90,78,98,520,86.666667,86.67,A,A
22,Neha,56,90,78,76,67,78,445,74.166667,74.17,B,B
23,Nimra,78,76,67,78,78,67,444,74.000000,74.00,B,B
24,Sahar,90,78,68,56,90,78,460,76.666667,76.67,B,B
25,Samar,98,56,89,89,98,89,519,86.500000,86.50,A,A
26,Sonia,98,89,65,90,93,90,525,87.500000,87.50,A,A
27,Sumbul,90,90,67,98,87,99,531,88.500000,88.50,A,A
28,Ejaz,89,98,89,87,87,78,528,88.000000,88.00,A,A
29,Saeed,90,93,56,89,86,67,481,80.166667,80.17,A,A
30,Ahmad,98,87,78,90,83,87,523,87.166667,87.17,A,A
31,Imtiaz,93,87,90,90,67,89,516,86.000000,86.00,A,A
32,Majeed,87,86,65,99,89,90,516,86.000000,86.00,A,A
33,Zahid,87,83,67,98,90,76,501,83.500000,83.50,A,A
34,Noman,86,56,87,97,90,78,494,82.333333,82.33,A,A
35,Tayyab,83,78,89,78,99,97,524,87.333333,87.33,A,A
36,Wajid,56,90,90,67,98,78,479,79.833333,79.83,B,B
37,Nasir,78,56,90,87,97,67,475,79.166667,79.17,B,B
38,Akhtar,90,90,99,89,89,87,544,90.666667,90.67,A+,A+
39,Sumaira,56,56,98,90,90,89,479,79.833333,79.83,B,B
40,Tasnim,90,90,97,76,90,90,533,88.833333,88.83,A,A

In [32]:
df['Grade2'] = ["A+" if x>=90 else "A" if x>=80 else "B" if x>=70 else "C" if x>=60 else "D" if x >=50 else "Fail" for x in df.Percentage]

In [33]:
df

,Name,Python,Pandas,Numpy,Stats,Flask,ML,Total,Precentage,Percentage,Grade,Grade1,Grade2
Roll,,,,,,,,,,,,,
1,Rauf,78,78,98,67,76,99,496,82.666667,82.67,A,A,A
2,Rashid,89,67,78,87,78,98,497,82.833333,82.83,A,A,A
3,Riaz,90,76,67,89,97,97,516,86.000000,86.00,A,A,A
4,Sadiq,98,78,78,90,78,78,500,83.333333,83.33,A,A,A
5,Tariq,78,97,89,90,67,90,511,85.166667,85.17,A,A,A
6,Yasin,67,78,90,99,87,67,488,81.333333,81.33,A,A,A
7,Zahid,78,67,99,98,46,87,475,79.166667,79.17,B,B,B
8,Zain,45,87,67,97,98,89,483,80.500000,80.50,A,A,A
9,Zaman,90,89,87,78,78,90,512,85.333333,85.33,A,A,A
10,Zia,99,67,46,67,67,90,436,72.666667,72.67,B,B,B
11,Zulfiqar,98,87,90,87,78,99,539,89.833333,89.83,A,A,A
12,Waseem,97,89,90,43,89,98,506,84.333333,84.33,A,A,A
13,Shahid,78,90,48,43,90,97,446,74.333333,74.33,B,B,B
14,Sajid,67,90,98,76,99,78,508,84.666667,84.67,A,A,A
15,Javed,87,99,43,78,78,67,452,75.333333,75.33,B,B,B
16,Zafar,89,98,78,45,67,87,464,77.333333,77.33,B,B,B
17,Aamir,90,97,67,78,87,89,508,84.666667,84.67,A,A,A
18,Amir,76,78,87,67,89,90,487,81.166667,81.17,A,A,A
19,Hafsa,78,67,89,87,90,76,487,81.166667,81.17,A,A,A
20,Kanza,56,87,90,89,76,78,476,79.333333,79.33,B,B,B
21,Mehak,89,89,76,90,78,98,520,86.666667,86.67,A,A,A
22,Neha,56,90,78,76,67,78,445,74.166667,74.17,B,B,B
23,Nimra,78,76,67,78,78,67,444,74.000000,74.00,B,B,B
24,Sahar,90,78,68,56,90,78,460,76.666667,76.67,B,B,B
25,Samar,98,56,89,89,98,89,519,86.500000,86.50,A,A,A
26,Sonia,98,89,65,90,93,90,525,87.500000,87.50,A,A,A
27,Sumbul,90,90,67,98,87,99,531,88.500000,88.50,A,A,A
28,Ejaz,89,98,89,87,87,78,528,88.000000,88.00,A,A,A
29,Saeed,90,93,56,89,86,67,481,80.166667,80.17,A,A,A
30,Ahmad,98,87,78,90,83,87,523,87.166667,87.17,A,A,A
31,Imtiaz,93,87,90,90,67,89,516,86.000000,86.00,A,A,A
32,Majeed,87,86,65,99,89,90,516,86.000000,86.00,A,A,A
33,Zahid,87,83,67,98,90,76,501,83.500000,83.50,A,A,A
34,Noman,86,56,87,97,90,78,494,82.333333,82.33,A,A,A
35,Tayyab,83,78,89,78,99,97,524,87.333333,87.33,A,A,A
36,Wajid,56,90,90,67,98,78,479,79.833333,79.83,B,B,B
37,Nasir,78,56,90,87,97,67,475,79.166667,79.17,B,B,B
38,Akhtar,90,90,99,89,89,87,544,90.666667,90.67,A+,A+,A+
39,Sumaira,56,56,98,90,90,89,479,79.833333,79.83,B,B,B
40,Tasnim,90,90,97,76,90,90,533,88.833333,88.83,A,A,A

In [34]:
def status(marks):
    Py,Pd,Np,St,Fl,Ml = marks
    if Py >= 60:
        if Pd >=60:
            if Np >=60:
                if St >=60:
                    if Fl >= 60:
                        if Ml >=60:
                            return "Pass"
                        else:
                            return "Fail"
                    else:
                        return "Fail"
                else:
                    return "Fail"
            else:
                return "Fail"
        else:
            return "Fail"
    else:
        return "Fail"

In [36]:
df['Status'] = [status(a) for a in zip(df.Python,df.Pandas,df.Numpy,df.Stats,df.Flask,df.ML)]

In [37]:
df

,Name,Python,Pandas,Numpy,Stats,Flask,ML,Total,Precentage,Percentage,Grade,Grade1,Grade2,Status
Roll,,,,,,,,,,,,,,
1,Rauf,78,78,98,67,76,99,496,82.666667,82.67,A,A,A,Pass
2,Rashid,89,67,78,87,78,98,497,82.833333,82.83,A,A,A,Pass
3,Riaz,90,76,67,89,97,97,516,86.000000,86.00,A,A,A,Pass
4,Sadiq,98,78,78,90,78,78,500,83.333333,83.33,A,A,A,Pass
5,Tariq,78,97,89,90,67,90,511,85.166667,85.17,A,A,A,Pass
6,Yasin,67,78,90,99,87,67,488,81.333333,81.33,A,A,A,Pass
7,Zahid,78,67,99,98,46,87,475,79.166667,79.17,B,B,B,Fail
8,Zain,45,87,67,97,98,89,483,80.500000,80.50,A,A,A,Fail
9,Zaman,90,89,87,78,78,90,512,85.333333,85.33,A,A,A,Pass
10,Zia,99,67,46,67,67,90,436,72.666667,72.67,B,B,B,Fail
11,Zulfiqar,98,87,90,87,78,99,539,89.833333,89.83,A,A,A,Pass
12,Waseem,97,89,90,43,89,98,506,84.333333,84.33,A,A,A,Fail
13,Shahid,78,90,48,43,90,97,446,74.333333,74.33,B,B,B,Fail
14,Sajid,67,90,98,76,99,78,508,84.666667,84.67,A,A,A,Pass
15,Javed,87,99,43,78,78,67,452,75.333333,75.33,B,B,B,Fail
16,Zafar,89,98,78,45,67,87,464,77.333333,77.33,B,B,B,Fail
17,Aamir,90,97,67,78,87,89,508,84.666667,84.67,A,A,A,Pass
18,Amir,76,78,87,67,89,90,487,81.166667,81.17,A,A,A,Pass
19,Hafsa,78,67,89,87,90,76,487,81.166667,81.17,A,A,A,Pass
20,Kanza,56,87,90,89,76,78,476,79.333333,79.33,B,B,B,Fail
21,Mehak,89,89,76,90,78,98,520,86.666667,86.67,A,A,A,Pass
22,Neha,56,90,78,76,67,78,445,74.166667,74.17,B,B,B,Fail
23,Nimra,78,76,67,78,78,67,444,74.000000,74.00,B,B,B,Pass
24,Sahar,90,78,68,56,90,78,460,76.666667,76.67,B,B,B,Fail
25,Samar,98,56,89,89,98,89,519,86.500000,86.50,A,A,A,Fail
26,Sonia,98,89,65,90,93,90,525,87.500000,87.50,A,A,A,Pass
27,Sumbul,90,90,67,98,87,99,531,88.500000,88.50,A,A,A,Pass
28,Ejaz,89,98,89,87,87,78,528,88.000000,88.00,A,A,A,Pass
29,Saeed,90,93,56,89,86,67,481,80.166667,80.17,A,A,A,Fail
30,Ahmad,98,87,78,90,83,87,523,87.166667,87.17,A,A,A,Pass
31,Imtiaz,93,87,90,90,67,89,516,86.000000,86.00,A,A,A,Pass
32,Majeed,87,86,65,99,89,90,516,86.000000,86.00,A,A,A,Pass
33,Zahid,87,83,67,98,90,76,501,83.500000,83.50,A,A,A,Pass
34,Noman,86,56,87,97,90,78,494,82.333333,82.33,A,A,A,Fail
35,Tayyab,83,78,89,78,99,97,524,87.333333,87.33,A,A,A,Pass
36,Wajid,56,90,90,67,98,78,479,79.833333,79.83,B,B,B,Fail
37,Nasir,78,56,90,87,97,67,475,79.166667,79.17,B,B,B,Fail
38,Akhtar,90,90,99,89,89,87,544,90.666667,90.67,A+,A+,A+,Pass
39,Sumaira,56,56,98,90,90,89,479,79.833333,79.83,B,B,B,Fail
40,Tasnim,90,90,97,76,90,90,533,88.833333,88.83,A,A,A,Pass